@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 48px;
}

.logo {
    font-weight: 800;
    font-size: 28px;

}

ol {
    width: 50%;
    display: flex;
    justify-content: space-between;
}


ol li {
    font-weight: 400;
    color: #0A1222;
    font-size: 12px;
    width: max-content;
    position: relative;
    cursor: pointer;
}

ol li:hover {
    color: #034BFF;
}

ol li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #034BFF;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);

}

ol li:hover::after {
    transform: scaleX(1);

}

.search {
    display: flex;
    align-items: center;
    gap: 6px;
}

.search_icon {
    font-weight: 700;
    font-size: 30px;
    color: #0A1222;
    cursor: pointer;
}

.nav_btn {
    background: #034BFF;
    color: #FFFFFF;
    border: none;
    width: 120px;
    height: 29px;
    font-weight: 700;
    font-size: 12px;

    border-radius: 5px;
    cursor: pointer;
}

.Hero_Section {
    width: 100%;
    height: 500px;
    display: flex;

}

.heroChild2 img {
    width: 100%;
    height: 100%;
}

.heroChild1,
.heroChild2 {
    width: 50%;
    background-color: #08111D;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroChild1 {
    padding-left: 50px;
    row-gap: 20px;
}

h1 {
    font-weight: 900;
    font-size: 76px;

    color: #FFFFFF;
}

.h1SpanOne {
    font-size: 88px;
    color: #034BFF;
}

.h1SpanTwo {
    font-size: 66px;
    color: #C7F64A;
}

.ShortText {
    font-weight: 800;
    font-size: 26px;

    color: #FFFFFF;
}

.LongText {
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF;
}

.btn_parent {
    display: flex;
    column-gap: 20px;
}

.btn_parent button {
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    width: 184px;
    height: 42px;
    border-radius: 5px;

}

.firstBtn {
    background-color: #034BFF;
    border: none;
}

.firstBtn span {
    font-size: 25px;
    border: solid 1px red;
    padding: 0px;
}

.secondBtn {
    background-color: transparent;
    border: solid 1px #8EABFF;
}

.lettersParent {
    display: flex;

}

.circled_div {
    width: 30px;
    height: 30px;
    border: solid 1px transparent;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.letter {
    font-weight: 700;
    font-size: 12px;
    color: #0A1222;
}

.heroText {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 11px;
}

.box {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.statistiques {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxes {
    display: flex;
    gap: 15px;
}

.st_icon {
    font-weight: 500;
    font-size: 40px;
    color: #034BFF;
    width: 42px;
    height: 36px;
}

.sta_number {
    font-weight: 800;
    font-size: 26px;

}

.sta_text {
    font-weight: 400;
    font-size: 18px;
    color: #47526A;
}

.horLine {
    width: 2px;
    height: 30px;
    background-color: #47526A;
}

.presentation {
    width: 100%;
    height: 300px;
    background-color: #F4F7FC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.firstBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.firstP {
    font-weight: 400;
    font-size: 12px;
    color: #034BFF;
}

.presentation div h2 {
    font-weight: 800;
    font-size: 33px;
    color: #0A1222;
}

.secondP {
    font-weight: 400;
    font-size: 14px;
    color: #0A1222;
}

.presen_btn {
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    width: 170px;
    height: 42px;
    border: solid 1px transparent;
    border-radius: 5px;
    background-color: #034BFF;
}

.secondBox {
    width: 50%;
    display: flex;
    justify-content: center;
}

.child {
    width: max-content;
    display: flex;
    align-items: center;
}

.countainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -20px;
}

.pic {
    margin-bottom: -40px;
}

.cube {
    margin-right: -30px;
}

.student {
    align-self: self-start;
    margin-left: -50px;
    margin-top: -70px;
}

.boxChild {
    position: relative;
}

.boxChild p {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background-color: black;
    width: 170px;
    height: 29px;
    border-radius: 5px;
}

.parcours {
    width: 100%;
    height: 250px;
    background-color: #08111D;
    display: flex;
    align-items: center;
    padding: 0px 88px;
}

.par_child {
    width: 100%;
    display: grid;
    gap: 15px;
}

.parcours h2 {
    font-weight: 800;
    font-size: 33px;
    color: #FFFFFF;
}

.par_text {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}

.par_icons {
    font-weight: 700;
    font-size: 31px;
}

.holder {
    width: max-content;
    display: flex;
    justify-self: center;
}

.holdericon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #034BFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holderword {
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
}

.holdertext {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.holder div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}